.footer {
    background-color: rgb(45, 0, 128);
    color: white;
    padding: 10px 20px;

    p {
        font-weight: bold;
        text-align: center;
    }

    h5 {
        color: rgb(99, 1, 179);
        font-size: 1.2em;
    }
}

.footer__reseaux {
    padding: 0px 0px;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        padding: 0px 0px;
    }

    li {
        list-style: none;
        padding: 0px 15px;
    }

    a {
        font-size: 3em;
        color: rgb(99, 1, 179);
    }
}

.footer__liens {
    a {
        text-decoration: none;
        color: white;
    }
}

.liens__coordonnees {
    li {
        list-style: none;
    }
}

@media (min-width: 830px) {
    .footer__liens {
        display: flex;
        justify-content: space-around;
    }
}